@model IEnumerable<WEBLAPTOP.ViewModel.GioHangView>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
    .qr-img {
        margin-top: 14px;
        border: 1px solid #e0e0e0;
        padding: 10px;
        background: white;
    }

    #CanThanhToan {
        font-size: 24px;
        font-weight: 700;
        color: #d32f2f;
    }

    .list-group-item {
        cursor: pointer;
        transition: 0.2s;
    }

        .list-group-item:hover {
            background: #f8f9fa;
        }

    .form-check-input:checked + img {
        filter: drop-shadow(0 0 4px #007bff);
    }


    .sanpham:hover {
        background-color: gainsboro;
        transition: 0.3s;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    }

    .KhuyenMai:hover {
        background-color: darkgray;
        transition: 0.3s;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    }
</style>

<div class="container my-4" style="background-color: rgb(251, 251, 251)">
    <h2 class="text-center mb-4">Thanh toán</h2>
    <div class="d-flex justify-content-center gap-4 my-3 text-secondary small">
        <div><i class="bi bi-shield-check text-success"></i> Thanh toán an toàn</div>
        <div><i class="bi bi-truck text-primary"></i> Giao hàng toàn quốc</div>
        <div><i class="bi bi-arrow-repeat text-warning"></i> Đổi trả 7 ngày</div>
    </div>

    <!-- sản phẩm trong giỏ hàng -->
    <div class="SPGioHang mb-4 p-4 border rounded">
        <h4 class="mb-3">Sản phẩm trong giỏ hàng</h4>

        @foreach (var item in Model)
        {
            <div class="row border mb-2 sanpham p-1" data-idsp="@item.ID_SP" data-giaban="@item.GiaBan">
                <div class="col-2 text-center">
                    <a href="#">
                        @{
                            var imagePaths = item.Images_url.Split(';');
                            var imagelink = imagePaths[0];
                            var imagePath = !string.IsNullOrEmpty(imagelink)
                                                ? "~/Images/Product_images/" + imagelink
                                                : "~/Images/no-image.png";
                            <img src="@Url.Content(imagePath)"
                                 alt="@item.Images_url"
                                 class="img-fluid rounded"
                                 style="max-height:100px" />
                        }


                    </a>
                </div>

                <!-- Tên sản phẩm -->
                <div class="col ">
                    <a href="#" class="fw-semibold text-decoration-none text-dark mb-1">@item.TenSP</a>
                </div>

                <!-- Số lượng -->
                <div class="col-2 d-flex justify-content-center align-items-center ">
                    <input class="form-control text-center input-soluong"
                           disabled="true"
                           type="number"
                           min="1"
                           value="@item.SoLuong"
                           data-soluong="@item.SoLuong"
                           style="max-width: 80px; margin: auto; font-size:16px;" />
                </div>

                <!-- Thành tiền -->
                <div class="col-3 d-flex justify-content-end align-items-center">
                    <b class="text-danger thanhtien">@String.Format("{0:N0} đ", (decimal)(item.GiaBan ?? 0) * item.SoLuong)</b>
                </div>
            </div>
        }
    </div>

    <!-- Người đặt -->
    <div class="NguoiDat mb-4 p-4 border rounded">
        <h4>Người đặt hàng</h4>
        <div class="row p-1">
            <div class="mb-2">
                <label for="inputTenKH">Họ tên</label>
                <input type="text" id="inputTenKH" class="form-control" placeholder="Nhập tên khách hàng" value="@ViewBag.TenKH" />
            </div>
            <div class="mb-3">
                <label for="inputSDT">Số điện thoại</label>
                <input type="text" id="inputSDT" class="form-control" placeholder="Nhập số điện thoại" value="@ViewBag.SDT" />
            </div>
        </div>
    </div>
 
    <!-- Hình Thức nhận hàng -->
    <div class="HinhThucNhanHang mb-4 p-3 border rounded bg-light">
        <h4 class="mb-3">Hình thức nhận hàng</h4>

        <div class="list-group">

            <!-- Radio 1 -->
            <label class="list-group-item d-flex align-items-center">
                <input class="form-check-input me-2" type="radio"
                       name="hinhthuc"
                       id="rdoGiaoHang"
                       value="Giao hàng"
                       checked />
                <span>Giao hàng tận nơi</span>
            </label>

            <!-- Radio 2 -->
            <label class="list-group-item d-flex align-items-center">
                <input class="form-check-input me-2" type="radio"
                       name="hinhthuc"
                       id="rdoNhanTaiCuaHang"
                       value="Tại cửa hàng" />
                <span>Nhận tại cửa hàng</span>
            </label>

        </div>

        <!-- Địa chỉ -->
        <div id="txtDiaChi" class="mt-3">
            <input type="text"
                   class="form-control"
                   value="@ViewBag.DiaChi" />
        </div>

        <!-- Ghi chú -->
        <div id="txtGhiChu" class="mt-3">
            <input type="text"
                   class="form-control"
                   placeholder="Ghi chú (VD: Hãy gọi cho tôi khi chuẩn bị hàng xong)" />
        </div>
    </div>

    <!-- Phương thức thanh toán -->
    <div class="PhuongThucThanhToan mb-4 p-3 border rounded bg-light">
        <h4 class="mb-3">Phương thức thanh toán</h4>

        <div class="list-group">

            <!-- COD -->
            <label class="list-group-item d-flex align-items-center py-3">
                <input class="form-check-input me-3" type="radio" name="PhuongThuc" value="COD" checked>
                <span>Thanh toán khi nhận hàng (COD)</span>
            </label>

            <!-- VNPay -->
            <label class="list-group-item d-flex align-items-center py-3">
                <input class="form-check-input me-3" type="radio" name="PhuongThuc" value="VNPAY">
                <img src="~/Images/Footer/vnpay.png" style="height:24px" class="me-2" />
                <span>Thanh toán VNPay</span>
            </label>

            <!-- QR chuyển khoản BANK_QR -->
            <label class="list-group-item d-flex align-items-center pttt-qr py-3">
                <input class="form-check-input me-3" type="radio" name="PhuongThuc" value="BANK_QR">
                <span>Chuyển khoản QR Code</span>


            </label>
            <div style="display:flex;justify-content:center;background-color:aliceblue">
                <img class="qr-img ms-3"
                     src="~/Images/QR/QR.png"
                     style="display:none; max-width:200px; border-radius:6px;" />
            </div>



        </div>
    </div>




    <div class="border rounded p-3 shadow-sm bg-light">
        <!-- Mã ưu đãi -->
        <h5 class="fw-bold mb-3 text-uppercase">Mã ưu đãi</h5>

        <div class="row align-items-center border rounded p-2 mb-4 bg-white hover-shadow " id="ChonMa" style="cursor:pointer;margin:0">
            <div id="MaKhuyenMai" class="col text-secondary ">Chọn mã ưu đãi</div>
            <div class="col-auto"><i class="bi bi-chevron-right fs-5 text-secondary"></i></div>
        </div>
        <div id="DanhSachMaKM" class="border p-2" style="display:none; margin-bottom:16px;background-color:azure;">
            @foreach (var item in ViewBag.KhuyenMai)
            {
                <div class="KhuyenMai border mb-2 p-2" data-idkm="@item.ID_KM" data-giamgia="@item.GiamGia" style="cursor:pointer">
                    <span class="fw-bold">@item.Mota</span>
                </div>
            }
        </div>
        <!-- Tổng kết đơn hàng -->
        <div class="border p-3 rounded bg-white">
            <div class="row mb-2">
                <div class="col-8 text-secondary">Tổng tiền</div>
                <div class="col-4 text-end fw-semibold " id="TongTien">@String.Format("{0:N0} đ", ViewBag.TongTienHang)</div>
            </div>
            <div class="row mb-2">
                <div class="col-8 text-secondary">Voucher</div>
                <div class="col-4 text-end fw-semibold text-success" id="Voucher">0 đ</div>
            </div>
            <div class="row mb-2">
                <div class="col-8 text-secondary">Phí vận chuyển</div>
                <div class="col-4 text-end fw-semibold text-success">Miễn phí</div>
            </div>
            <div class="row border-top pt-3 mt-2">
                <div class="col-8 fw-bold">Cần thanh toán</div>
                <div class="col-4 text-end fw-bold text-danger fs-5 " id="CanThanhToan">@String.Format("{0:N0} đ", ViewBag.TongTienHang)</div>
            </div>
        </div>

        <!-- Nút đặt hàng -->
        <div class="text-center mt-4">
            @*<button type="button" class="btnDatHang btn btn-danger w-100 py-2 fw-bold text-uppercase">
                    Đặt hàng
                </button>*@

            <button class=" btnDatHang btn btn-danger w-100 py-2 fw-bold text-uppercase">
                <i class="bi bi-bag-check-fill me-2"></i>Đặt hàng
            </button>
        </div>
        <div class="text-center mt-4">
            <button type="button" class="btnQuayLai btn btn-primary w-100 py-2 fw-bold text-uppercase">
                Quay lại
            </button>
        </div>
    </div>

</div>
<script>
        //Ẩn hiện địa chỉ giao hàng
        var GiaoHang = document.getElementById("rdoGiaoHang");
        var NhanTaiCuaHang = document.getElementById("rdoNhanTaiCuaHang");
        var DiaChi = document.getElementById("txtDiaChi");

        GiaoHang.addEventListener("change", function(){
            DiaChi.style.display = "Block";
        });
        NhanTaiCuaHang.addEventListener("change", function(){
            DiaChi.style.display = "None";
        })
        // chọn khuyến mại và cập nhật số tiền
        var ChonMa = document.getElementById("ChonMa");
        var DSKhuyenMai = document.getElementById("DanhSachMaKM");
        var MaKhuyenMai = document.getElementById("MaKhuyenMai");
        var IDMaKM = null;

        var TongTien = parseFloat('@ViewBag.TongTienHang');
        var voucher = document.getElementById("Voucher");
        var CanThanhToan = document.getElementById("CanThanhToan");

        ChonMa.addEventListener("click", function () {
            DSKhuyenMai.style.display = DSKhuyenMai.style.display === "none" ? "block" : "none";
        })
        document.querySelectorAll("#DanhSachMaKM div").forEach(item => {
            item.addEventListener("click", () => {
                var Mota = item.querySelector("span").innerText;
                MaKhuyenMai.textContent = Mota;
                IDMaKM = item.dataset.idkm;
                DSKhuyenMai.style.display = "none";
                // Tính tien
                if (item.dataset.giamgia < 100) {
                    var GiamGia1 = parseFloat(item.dataset.giamgia) / 100 * TongTien;
                    var canTT = TongTien - GiamGia1;
                }
                else {
                    var GiamGia1 = parseFloat(item.dataset.giamgia);
                    var canTT = TongTien - GiamGia1;
                }
                voucher.textContent = `-${GiamGia1.toLocaleString('vi-VN')} đ`;
                CanThanhToan.textContent = formatVN(canTT);

            })
        })

    //Định dạng tiền
    function formatVN(number) {
        return number.toLocaleString('vi-VN') + ' đ';
    }
    //Cập nhật tổng tiền
    function CapNhatTien() {
        var tong = 0;
        document.querySelectorAll(".sanpham").forEach(item => {
            var gia = parseFloat(item.dataset.giaban);
            const input = item.querySelector("input[type='number']");
            var soLuong = parseInt(input.value);
            tong += gia * soLuong;
        })
        document.getElementById("TongTien").textContent = formatVN(tong);
        document.getElementById("CanThanhToan").textContent = formatVN(tong);
    }
    // sự kiện thay đổi số lượng sp
    document.querySelectorAll(".sanpham input[type='number']").forEach(input => {
        input.addEventListener('input', e => {
            const row = e.target.closest(".sanpham");
            var soLuong = parseInt(e.target.value);
            if (soLuong <= 0) {
                row.remove();
                CapNhatTien();
                return;
            }
            var giaBan = parseFloat(row.dataset.giaban);
            var tong = soLuong * giaBan;
            var thanhtien = row.querySelector(".thanhtien");
            thanhtien.textContent = formatVN(tong);
            CapNhatTien();
        });
    });
    
    // Hiển thị QR khi chọn phương thức "BANK_QR"
    document.querySelectorAll("input[name='PhuongThuc']").forEach(radio => {
        radio.addEventListener("change", function () {
            let qrImg = document.querySelector(" .qr-img");

            if (this.value === "BANK_QR") {
                qrImg.style.display = "block";
            } else {
                qrImg.style.display = "none";
            }
        });
    });

    //Xử lý đặt hàng
    document.querySelector(".btnDatHang").addEventListener("click", function () {

        Swal.fire({
            title: 'Xác nhận đặt hàng?',
            html: `
            <p>Bạn đang chuẩn bị <b>hoàn tất đơn hàng</b>.</p>
            <p class="text-muted">Vui lòng kiểm tra lại thông tin trước khi thanh toán.</p>
        `,
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Xác nhận mua',
            cancelButtonText: 'Xem lại',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#6c757d'
        }).then((result) => {
            if (result.isConfirmed) {
                thucHienDatHang(); 
            }
        });

    });
    function thucHienDatHang() {

        Swal.fire({
            title: 'Đang xử lý đơn hàng...',
            text: 'Vui lòng chờ trong giây lát',
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        var tenKH = document.getElementById("inputTenKH").value;
        var sdtKH = document.getElementById("inputSDT").value;
        var hinhThucGH = document.querySelector("input[name='hinhthuc']:checked").value;
        var diaChiGH = document.querySelector("#txtDiaChi input").value;
        var ghiChu = document.querySelector("#txtGhiChu input").value;
        var phuongThuc = document.querySelector("input[name='PhuongThuc']:checked").value;
        var idKM = IDMaKM;

        //lấy danh sách sản phẩm
        var dsSP = [];
        document.querySelectorAll(".sanpham").forEach(x => {
            var idSP = x.dataset.idsp;
            var soLuong = parseInt(x.querySelector(".input-soluong").value);
            var donGia = parseInt(x.dataset.giaban);
            dsSP.push({
                ID_SP: idSP,
                SoLuong: soLuong,
                DonGia: donGia
            });
        });
        //Ajax
        if (phuongThuc === "VNPAY") {
            $.ajax({
                url: '/PayBills/CreateVnpayPayment',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    DONHANG: {
                        Ten: tenKH,
                        SDT: sdtKH,
                        PhuongThucNhanHang: hinhThucGH,
                        DiaChiGiaoHang: diaChiGH,
                        GhiChu: ghiChu,
                        PhuongThucTT: phuongThuc,
                        ID_KM: idKM
                    },
                    DONHANG_SANPHAM: dsSP
                }),
                success: function (res) {
                    if (res.success) {
                        window.location.href = res.url;
                    } else {
                        alert(res.message);
                        window.location.href = "/PayBills/ThanhToanThatBai";
                    }
                }
            });
            return;
        }

        $.ajax({
            url: '/PayBills/DatHang',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                DONHANG: {
                    Ten: tenKH,
                    SDT: sdtKH,
                    PhuongThucNhanHang: hinhThucGH,
                    DiaChiGiaoHang: diaChiGH,
                    GhiChu: ghiChu,
                    PhuongThucTT: phuongThuc,
                    ID_KM: idKM
                },
                DONHANG_SANPHAM: dsSP
            }),
            success: function (result) {
                if (result.success) {
                    window.location.href = '/PayBills/ThanhToanThanhCong';
                }
                else {
                    alert(result.message);
                    window.location.href = "/PayBills/ThanhToanThatBai";
                }
            }
        })
    }

    // Nút quay lại
    document.querySelector(".btnQuayLai").addEventListener("click", function () {
        history.back();

    });

</script>