
@model WEBLAPTOP.Models.DONHANG

<h2>Chi tiết đơn hàng #@Model.ID_DH</h2>
<hr />

<h4>Thông tin người nhận</h4>
<p><b>Họ tên:</b> @Model.Ten</p>
<p><b>SĐT:</b> @Model.SDT</p>
<p><b>Địa chỉ:</b> @Model.DiaChiGiaoHang</p>
<p><b>Phương thức thanh toán:</b> @Model.PhuongthucTT</p>
<p><b>Trạng thái:</b> @Model.TrangThai</p>

<hr />

<h4>Sản phẩm trong đơn</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ảnh</th>
            <th>Tên SP</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal tongTien = 0;
        }

        @foreach (var sp in Model.DONHANG_SANPHAM)
        {
            var soLuong = sp.SoLuong ?? 0;
            var donGia = sp.DonGia ?? 0;

            decimal tt = soLuong * donGia;
            tongTien += tt;

            <tr>
                <td>
                    <img src="~/Images/Product_images/@sp.SANPHAM.Images_url" width="80" />
                </td>
                <td>@sp.SANPHAM.TenSP</td>
                <td>@sp.SoLuong</td>
                <td>@String.Format("{0:N0} đ", sp.DonGia)</td>
                <td>@String.Format("{0:N0} đ", tt)</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h4>Tổng kết đơn hàng</h4>
@{
    decimal? giamGia = 0;
    decimal canThanhToan = tongTien;

    if (Model.KHUYENMAI != null)
    {
        giamGia = tongTien * (Model.KHUYENMAI.GiamGia / 100m);
        canThanhToan = tongTien - (giamGia ?? 0);
    }
}

<p><b>Tổng tiền hàng:</b> @String.Format("{0:N0} đ", tongTien)</p>

<p>
    <b>Khuyến mại:</b>
    @if (Model.KHUYENMAI != null)
    {
        <span class="text-success">
            -@String.Format("{0:N0} đ", giamGia)
            (KM: @Model.KHUYENMAI.Mota)
        </span>
    }
    else
    {
        <span>Không áp dụng</span>
    }
</p>

<p><b>Phí vận chuyển:</b> Miễn phí</p>

<p class="fs-4 fw-bold text-danger">
    Cần thanh toán: @String.Format("{0:N0} đ", canThanhToan)
</p>

