@model WEBLAPTOP.Models.DONHANG
@{
    ViewBag.Title = "Chi tiết đơn hàng #" + Model.ID_DH;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int tongTien = 0;
}

<h2>Chi tiết đơn hàng #@Model.ID_DH</h2>
<hr />
<div>
    <h4>Thông tin người nhận</h4>
    <dl class="dl-horizontal">
        <dt>Ngày đặt</dt>
        <dd>@Model.NgayLap.Value.ToString("g")</dd>
        <dt>Người nhận</dt>
        <dd>@Html.DisplayFor(model => model.Ten)</dd>
        <dt>Số điện thoại</dt>
        <dd>@Html.DisplayFor(model => model.SDT)</dd>
        <dt>Địa chỉ</dt>
        <dd>@Html.DisplayFor(model => model.DiaChiGiaoHang)</dd>
        <dt>Trạng thái</dt>
        <dd>@Html.DisplayFor(model => model.TrangThai)</dd>
        <dt>Ghi chú</dt>
        <dd>@Html.DisplayFor(model => model.GhiChu)</dd>
    </dl>

    <hr />
    <h4>Sản phẩm đã đặt</h4>
    <table class="table">
        <tr>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
        @foreach (var item in Model.DONHANG_SANPHAM)
        {
            int thanhTien = item.DonGia.GetValueOrDefault(0) * item.SoLuong.GetValueOrDefault(0);
            tongTien += thanhTien;
            <tr>
                <td>@item.SANPHAM.TenSP</td>
                <td>@item.SoLuong</td>
                <td>@item.DonGia.GetValueOrDefault(0).ToString("N0")đ</td>
                <td>@thanhTien.ToString("N0")đ</td>
            </tr>
        }
    </table>
    <h4 class="text-right">Tổng cộng: <span class="text-danger">@tongTien.ToString("N0")đ</span></h4>
</div>
<p>
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>